<div class="d-flex justify-content-around border-bottom pb-4 mb-4">
	<div>
		<h6 class="fs-3 fw-bold text-center">{{posts |length}}</h6>
		<p class="fw-light text-center">
			<i class="bi bi-book text-warning"></i> Post{{posts |pluralize }}
		</p>
	</div>
	<div>
		<h6 class="fs-3 fw-bold text-center">{{tuts |length}}</h6>
		<p class="fw-light text-center">
			<i class="bi bi-vector-pen text-success"></i>
			<!--  -->
			Tutorial{{tuts |pluralize}}
		</p>
	</div>
</div>
<div class="categories">
	<h6>Recommended topics</h6>
	<div class="tags mt-4">
		{% for tag in tags %}
		<div class="d-inline-flex">
			<a
				class="btn btn-sm py-0 me-1 mb-2 btn-light rounded-pill d-block"
				href="{% url 'search_tag' %}?q={{tag.name}}"
			>
				{{tag.name}}
			</a>
		</div>
		{% endfor %}
	</div>
</div>
<nav class="navbar bg-body-white my-5">
	<div class="container-fluid">
		<form class="d-flex" role="search" action="{% url 'search' %}">
			<input
				class="form-control me-2"
				type="search"
				name="q"
				placeholder="Search"
				aria-label="Search"
			/>
			<button class="btn btn-outline-secondary" type="submit">Search</button>
		</form>
	</div>
</nav>
